# Notebook 0. First Encounter With the Data
### By Max Pechyonkin
---
## Introduction

> <strong><font color=red>Note:</font></strong>
I understand that you might have limited time. So, if you would rather read only one notebook, rather than all three, please only read the last one, called `02_data_pipeline_refactored.ipynb`, it has the final result. The first two notebooks contained information about how I arrived at that result.

This is my first attempt of analyzing the data, in which I wasn't aware of any pitfalls lying in front of me.
It has my first encounters with inconsistencies within the data and some of preliminary exploration, when I was desiding on approaches to take regarding each variable. Some of the information from this analysis went into the hand-written digital PDF notes accompanying these notebooks. I suggest reading the notes as they are more structured.

## Exploring variables and what they mean

Data comes from [this](https://query.data.world/s/jgwfznif4ngihwpk6sp5ghugpuqexb) link, and data schema is [here](https://developer.datafiniti.co/docs/product-data-schema).

The data has a lot of features, so let's have a look at the columns first, and then dig into the data.

In [ ]:
import pandas as pd

DATA_PATH = '7004_1.csv'

In [ ]:
with open(DATA_PATH) as f:
    header = f.readline()

col_names = header.strip().split(',')
len(col_names)

In [ ]:
col_names

In [ ]:
# schema = {
# 'id': 'str',
# 'asins': 'list-str',
# 'brand': 'str',
# 'categories': ,
# 'colors',
# 'count',
# 'dateAdded',
# 'dateUpdated',
# 'descriptions',
# 'dimension',
# 'ean',
# 'features',
# 'flavors',
# 'imageURLs',
# 'isbn',
# 'keys',
# 'manufacturer',
# 'manufacturerNumber',
# 'merchants',
# 'name',
# 'prices.amountMin',
# 'prices.amountMax',
# 'prices.availability',
# 'prices.color',
# 'prices.condition',
# 'prices.count',
# 'prices.currency',
# 'prices.dateAdded',
# 'prices.dateSeen',
# 'prices.flavor',
# 'prices.isSale',
# 'prices.merchant',
# 'prices.offer',
# 'prices.returnPolicy',
# 'prices.shipping',
# 'prices.size',
# 'prices.source',
# 'prices.sourceURLs',
# 'prices.warranty',
# 'quantities',
# 'reviews',
# 'sizes',
# 'skus',
# 'sourceURLs',
# 'upc',
# 'vin',
# 'websiteIDs',
# 'weight'
# }

It turns out the `csv` file provided for the assignment is not valid -- some of the rows have an incorrect number of fields. Let's ignore those rows, but print the warnings.

In [ ]:
df = pd.read_csv(DATA_PATH, error_bad_lines=False, warn_bad_lines=True)

Below I copied the warnings into a Python string to count the number of bad rows.

In [ ]:
output = 'Skipping line 251: expected 48 fields, saw 49\nSkipping line 444: expected 48 fields, saw 50\nSkipping line 847: expected 48 fields, saw 49\nSkipping line 848: expected 48 fields, saw 49\nSkipping line 1018: expected 48 fields, saw 49\nSkipping line 1575: expected 48 fields, saw 51\nSkipping line 2133: expected 48 fields, saw 49\nSkipping line 2922: expected 48 fields, saw 51\nSkipping line 3777: expected 48 fields, saw 51\nSkipping line 4057: expected 48 fields, saw 49\nSkipping line 4239: expected 48 fields, saw 49\nSkipping line 4240: expected 48 fields, saw 49\nSkipping line 4384: expected 48 fields, saw 49\nSkipping line 4385: expected 48 fields, saw 49\nSkipping line 5388: expected 48 fields, saw 49\nSkipping line 5480: expected 48 fields, saw 49\nSkipping line 5481: expected 48 fields, saw 49\nSkipping line 5907: expected 48 fields, saw 50\nSkipping line 5908: expected 48 fields, saw 50\nSkipping line 6600: expected 48 fields, saw 49\nSkipping line 6601: expected 48 fields, saw 49\nSkipping line 6602: expected 48 fields, saw 49\nSkipping line 6603: expected 48 fields, saw 49\nSkipping line 7227: expected 48 fields, saw 49\nSkipping line 7228: expected 48 fields, saw 49\nSkipping line 7229: expected 48 fields, saw 49\nSkipping line 7267: expected 48 fields, saw 51\nSkipping line 9025: expected 48 fields, saw 49\nSkipping line 9026: expected 48 fields, saw 49\nSkipping line 9027: expected 48 fields, saw 49\nSkipping line 9417: expected 48 fields, saw 50\nSkipping line 10815: expected 48 fields, saw 49\nSkipping line 11034: expected 48 fields, saw 50\nSkipping line 11059: expected 48 fields, saw 49\nSkipping line 11060: expected 48 fields, saw 49\nSkipping line 11339: expected 48 fields, saw 50\nSkipping line 11357: expected 48 fields, saw 49\nSkipping line 11358: expected 48 fields, saw 49\nSkipping line 11646: expected 48 fields, saw 49\nSkipping line 11647: expected 48 fields, saw 49\nSkipping line 12161: expected 48 fields, saw 50\nSkipping line 12307: expected 48 fields, saw 49\nSkipping line 12308: expected 48 fields, saw 49\nSkipping line 12614: expected 48 fields, saw 49\nSkipping line 12615: expected 48 fields, saw 49\nSkipping line 12616: expected 48 fields, saw 49\nSkipping line 12617: expected 48 fields, saw 49\nSkipping line 12618: expected 48 fields, saw 49\nSkipping line 12619: expected 48 fields, saw 49\nSkipping line 12620: expected 48 fields, saw 49\nSkipping line 12621: expected 48 fields, saw 49\nSkipping line 12622: expected 48 fields, saw 49\nSkipping line 12623: expected 48 fields, saw 49\nSkipping line 12799: expected 48 fields, saw 49\nSkipping line 14200: expected 48 fields, saw 49\nSkipping line 14595: expected 48 fields, saw 49\n'
b'Skipping line 16747: expected 48 fields, saw 49\nSkipping line 16748: expected 48 fields, saw 49\nSkipping line 16749: expected 48 fields, saw 49\nSkipping line 16750: expected 48 fields, saw 49\nSkipping line 16751: expected 48 fields, saw 49\nSkipping line 16752: expected 48 fields, saw 49\nSkipping line 16753: expected 48 fields, saw 49\nSkipping line 17318: expected 48 fields, saw 49\nSkipping line 17319: expected 48 fields, saw 49\nSkipping line 17766: expected 48 fields, saw 49\nSkipping line 17767: expected 48 fields, saw 49\nSkipping line 18000: expected 48 fields, saw 52\nSkipping line 18001: expected 48 fields, saw 52\nSkipping line 18308: expected 48 fields, saw 51\nSkipping line 19223: expected 48 fields, saw 52\nSkipping line 19224: expected 48 fields, saw 52\n'

In [ ]:
output.count('Skipping')

As we can see, in total 56 rows were invalid in the data, so we skipped them.

Now, we can have a look at the data.

In [ ]:
df.head(20)

Upon inspecting the first 20 rows of the data frame, it seems that there are duplicates in `id` field of the data, at least in the visible columns. Let's inspect this hypothesis and if true, we will need to remove the duplicates.

I will use vertical layout for better visibility.

In [ ]:
row0 = df.iloc[0]
row1 = df.iloc[1]
data1 = pd.DataFrame([row0, row1]).dropna(axis=1, how='all') # ignore labels that are NaNs in both rows
data1 = pd.DataFrame([data1.iloc[0], data1.iloc[1], data1.iloc[0] == data1.iloc[1]])
data1.transpose()

The differences are in columns:
- `prices.isSale` - this probably determines the minimum and maximum prices to be different
- `prices.amountMin`
- `prices.amountMax`
- `prices.condition` - NaN vs new
- `prices.merchant` - NaN vs UnbeatableSale - Walmart.com

OK, it looks like the same `id` can be in different rows depending on the merchant and sale.

Let's look further into more examples, and pay attention to columns that were different in the first example.

Let's grab the second unique `id` from the dataframe and have a look at difference in rows.

In [ ]:
sample_id = 'AVpfHsWP1cnluZ0-eVZ7'
data2 = df[df.id == sample_id].dropna(axis=1, how='all') # again, drop NaNs to save visual space
data2.transpose()

**Note 1**: An interesting observation. This `id` is associated with [this](https://www.internationalsafety.com/products/overshoes-servus-studs-by-honeywell) product. There are not shoes per se, but rather overshoes that are worn in showy and icy weather that increase grip between shoes and surface. For now I will assume this is a valid product for the task I was given.

**Note 2**: I wonder if there are irrelevant products in the data, that are not shoes for men. I will get to exploring this later.

My interest at this point is to see for which columns there are differences.
I will retreive column numbers that have more than 1 unique values and use them to only see those columns.

In [ ]:
unique_numbers = data2.nunique(axis=0)
non_unique_cols = unique_numbers[unique_numbers > 1].index
non_unique_cols

In [ ]:
data2[non_unique_cols]

For the second unique `id` that I examined, we can see the following three columns are similar to the example we saw before:
- `prices.isSale`
- `prices.amountMin`
- `prices.amountMax`
In addition, there are two more columns with differences:
- `prices.dateSeen`
- `prices.offer`

My conclusion at this point regarding mupltiple same `id`s in the data is as follows (it also takes into account explanation in the PDF that came with this assignment):

The same product `id` can be seen in the multiple rows in the data because there might be: 
- different vendors selling the product
- different times the same vendor was selling this `id` at differenct prices
- sales that also affect the price

## Dealing with NaNs

First, let's have a look at the unqique values, sorted from largest to smallest.

In [ ]:
df.nunique(axis=0).sort_values(ascending=False)

The last 5 rows are suspicious -- they must be NaNs. Let's have a closer look.

In [ ]:
all_nan_cols = df.isnull().all()
all_nan_cols[all_nan_cols]

In [ ]:
all_nan_col_names = all_nan_cols[all_nan_cols].index
all_nan_col_names

Let's get rid of these.

In [ ]:
df = df.drop(all_nan_col_names, axis=1)

While we are at it, let's also see percentages of NaNs for each column. If some columns have too many NaNs, let's get rid of those too.

In [ ]:
nrows, ncols = df.shape
nrows, ncols

In [ ]:
def get_nans_percentages(data):
    nrows, _ = data.shape
    return (data.isnull().sum(axis=0) / nrows).sort_values(ascending=False)

In [ ]:
nans_percentages_by_column = get_nans_percentages(df)
nans_percentages_by_column

In [ ]:
df.nunique()

One stragedy would be to remove some of the variables with missing data.
At this point there are several possibilities to deal with this:

- manually select some threshold for proportion of missing values and remove all columns that are above the threshold. This method is very easy but has drawbacks, e.g. why this particular threshold?
- tread threshold for removing columns as a hyperparameter of the learning algorithm and select that using cross-validation
- treat NaNs as one value of a categorical variable, because the NaN itself can be a signal to the model
- use encoding that utilizes the knowledge about NaNs, such as CatBoost encoder

For now, my approach is this:

- remove all vars with more then 99% missing values
- go through each of remaining vars and decide what transformation / parsing needs to be done
- perform transformation or parsing

## Get rid of columns with more than 99% missing

In [ ]:
more_than_99_missing_cols = nans_percentages_by_column[nans_percentages_by_column > 0.99].index
more_than_99_missing_cols

In [ ]:
df = df.drop(more_than_99_missing_cols, axis=1)

In [ ]:
# recalculate percentages because we removed some columns
nans_percentages_by_column = get_nans_percentages(df)

In [ ]:
def check_non_nan_entries(colname: str, data: pd.DataFrame = df) -> pd.Series:
    return data[colname][data[colname].isnull() == False]

for cname in nans_percentages_by_column[nans_percentages_by_column < 0.01].index:
    print(f"COLUMN {cname}")
    print(check_non_nan_entries(cname))
    print("-"*40)

In [ ]:
df.sourceURLs.iloc[1500]

In [ ]:
df.iloc[-1]['name']

In [ ]:
df.categories.iloc[-1]